<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="{{keywords}}" />
	<meta name="description" content="{{content}}" />
<title>关于 -{{title}}</title>
<link rel="stylesheet" href="/css/css.css" type="text/css" />
</head>
<body>
<div class="top">
  <div class="wp">
    <div class="top_nav">
      <ul>
        <li><a href="/" title="首页"><span>首页</span></a></li>
        <li><a href="/index/story" title="关于我"><span>关于我</span></a></li>
        <li><a href="/index/update" title="更新日志"><span>更新日志</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="wp top_info">
  <dl class="software">
    <dt class="s_ico"></dt>
    <dd>
      <h2>经典，易玩，休闲！</h2>
      <p>完全免费的文字游戏</p>
    </dd>
  </dl>
<a href="/yx/mlz.zip" title="立即下载" class="dl_btn">立即下载</a> </div>
<div class="wp update_rec">
  <div class="update_list">
    <ul>
    <li>
        <h3>个人信息 </h3>
        <p>初中生，初三</p>
        <p>爱好编程，互联网</p>
        <p>喜欢#滑稽~233</p>
      </li>
     <li>
        <h3>联系我 </h3>
        <p>QQ:{{QQ}}</p>
        <p>贴吧ID:{{baidu}}</p>
    </ul>
  </div>
</div>
</body>
</html>